<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<form class="form my-form" [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
  <div class="form-group row">
    <label for="firstNumber">First Number</label>
    <input type="text" id="firstNumber" class="form-control"
      formControlName="firstNumber" required>
      <div class="alert alert-danger" *ngIf="firstNumber.errors && (firstNumber.dirty || firstNumber.touched)">
        <p *ngIf="firstNumber.errors.pattern" class="text-danger">Please enter number Only</p>
        <div *ngIf="firstNumber.errors?.required">firstNumber is required.</div>
      </div>
  </div>

  <div class="form-group row">
    <label for="name">Second Number</label>
    <input type="text" id="secondNumber" class="form-control"
      formControlName="secondNumber" required>
      <div class="alert alert-danger" *ngIf="secondNumber.errors && (secondNumber.dirty || secondNumber.touched)">
        <p *ngIf="secondNumber.errors.pattern" class="text-danger">Please enter number Only</p>
        <div *ngIf="firstNumber.errors?.required">secondNumber is required.</div>
      </div>
  </div>
  <div>
    <button type="submit" [disabled]="!disableBtn" class="btn btn-raised btn-primary" >
      <i class="fa fa-plus"></i> Submit
    </button>
    <button class="btn btn-raised btn-primary" onclick="getData()">
      <i class="fa fa-plus"></i> get saved data
    </button>
  </div>
  <div class="resultBox">
    <b>{{sum}}</b>
  </div>

</form>
